pytest
pytest-cov
pytest-mock
pytest-subtests
pytest-json-report
ruff

tenacity
networkx==3.3
nltk==3.9.1
numpy==1.26.4
openai==1.55.3
litellm==1.55.6
pydantic==2.9.0
pydantic_core==2.23.2
loguru==0.7.2 
pandas==2.2.3
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.2.1 
torchvision==0.17.1 
torchaudio==2.2.1
transformers==4.44.2
faiss-cpu==1.8.0.post1
