{
    "mcpServers": {
        "github": {
            "command": "npx",
            "args": [
                "-y",
                "@modelcontextprotocol/server-github"
            ],
            "env": {
                "GITHUB_PERSONAL_ACCESS_TOKEN": "YOUR_GITHUB_API"
            }
        },
        "filesystem": {
            "command": "npx",
            "args": [
                "-y",
                "@modelcontextprotocol/server-filesystem",
                "/home/junhual1/projects/EvoAgentX/"
            ]
        },
        "pdf-reader-mcp": {
            "command": "node",
            "args": ["/home/junhual1/projects/pdf-reader-mcp/dist/index.js"],
            "name": "PDF Reader (Local Build)"
        },
        "hirebase": {
            "command": "uvx",
            "args": [
                "hirebase-mcp" 
            ],
            "env": {
                "HIREBASE_API_KEY": "" 
            }
        }
        
    }
}