{
    "mcpServers": {
        "hirebase (Hiring information requesting service, must provide search keywords)": {
            "command": "uvx",
            "args": [
                "hirebase-mcp" 
            ],
            "env": {
                "HIREBASE_API_KEY": "" 
            }
        }
    }
}