.md-nav__title {
    font-weight: bold;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    padding-bottom: 8px;
}

:root {
    font-size: 21px;
  }

.md-nav__item--section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.md-nav__list > .md-nav__item--section:last-child {
  border-bottom: none;
}

